<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Docker 实例</title>
<link href="../../static/css/ztreedemo.css" rel="stylesheet" type="text/css"/>
<link href="../../static/css/zTreeStyle.css" rel="stylesheet" type="text/css"/>
<link href="../../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>


<style>
.ztree *{
    font-family:sans-serif!important;
}
</style>
</head>


<body>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          资源管理
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <a href="/nodemanage" target="rightFrame" class="list-group-item">节点资源</a>
        <a href="/conmanage"  target="rightFrame" class="list-group-item">容器用途</a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          容器管理
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <ul id="treeDemo" class="ztree" style="height:100%;"></ul>
    </div>
  </div>
  </div>

<script type="text/javascript">

    var zTree;

    var setting = {
        view: {
            dblClickExpand: false
        },
        async: { //异步加载请求数据
            enable: true,
            url:"grouplist",
            autoParam:["id", "name=n", "level=lv"], //请求的参数即groupid=nodeid
            otherParam:{"otherParam":"zTreeAsyncTest"},
            type: "post"
        },
        callback: {
        }
    };


    $(document).ready(function(){

        $.fn.zTree.init($("#treeDemo"), setting);
        //右键菜单
        zTree = $.fn.zTree.getZTreeObj("treeDemo");

    });

</script>

</body>