{% extends "../head.html" %}
{% block div %}

<script type="text/javascript">
$(document).ready(function() {
    $('#conlist').DataTable({
        "paging":   false
    });
} );
</script>
<div id="content">
<head>
    <ul>
        <h2>节点管理</h2>
    </ul>
    <div>
        <input type="button" class="btn btn-primary" onclick="javascript:window.location.href='/concreate?node_ip={{node_ip}}'" value="创建容器">
    </div>
</head>

<table id="conlist" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th >序号</th>
            <th >容器ID</th>
            <th >容器IP</th>
            <th >容器名</th>
            <th >CPU时间</th>
            <th >CPU配额</th>
            <th >内存</th>
            <th >状态</th>
            <th >运行命令</th>
            <th >创建时间</th>
            <th >操作</th>
        </tr>
    </thead>
    <tbody>
        {% for con in con_data %}
        <tr>
            <td>{{con}}</td>
            <td>{{con_data[con]['id_num']}}</td>
            <td>{{con_data[con]["con_ip"]}}</td>
            <td>{{con_data[con]["name"]}}</td>
            <td>{{con_data[con]["cpuperiod"]}}</td>
            <td>{{con_data[con]["cpuquota"]}}</td>
            <td>{{con_data[con]["memory"]}}</td>
            <td>{{con_data[con]["state"]}}</td>
            <td>{{con_data[con]["cmd"]}}</td>
            <td>{{con_data[con]["created"]}}</td>
            <td>
                <input type="button" class="btn btn-default" onclick="javascript:window.location.href='/conaction?node_ip={{node_ip}}&con_id={{con_data[con]["id_num"]}}'" value="操作"> 
            </td>
        </tr>
        {% end %}
    </tbody>
</table>
</div>

{% end %}